<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello  Welcome my first html Page {{beer}}</h1>
<center>
<h1> Enter your personal details</h1>

<h2></h2>

<a href="/a">click to continue</a><br>
    </center>
1. <a href="/0">to check palindrome</a><br>
2.<a href="/8">to view numbers</a><br>
3.<a href="/5">to view the multiplication table</a><br>
4.<a href="/7">to view the prime numbers</a><br>
5.<a href="/11">to view current bill</a>

</body>
</html>